---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Cormorant+Garamond:wght@400;700&family=Proza+Libre:wght@400;700&family=Libre+Baskerville:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');
